@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'circular-std-medium';
  src: url('../fonts/Circular/CircularStd-Medium.otf');
}
@font-face {
  font-family: 'circular-std-light';
  src: url('../fonts/Circular/CircularStd-Light.otf');
}

@font-face {
  font-family: 'circular-std-bold';
  src: url('../fonts/Circular/CircularStd-Bold.otf');
}
@font-face {
  font-family: 'circular-std-book';
  src: url('../fonts/Circular/CircularStd-Book.otf');
}



.selectdiv {
  position: relative;
  /*Don't really need this just for demo styling*/
  
  float: left;
  min-width: 160px;
  margin: 50px 33%;
  border: 1px solid black;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
display: none;
}

.selectdiv:after {
  content: '>';
  font: 30px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 18px;
  /*Adjust for position however you want*/
  
  top: 10px;
  padding: 0 0 2px;
/*   border-bottom: 1px solid #999; */
  /*left line */
  
  position: absolute;
  pointer-events: none;
}

.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  
  display: block;
  width: 100%;
  max-width: 320px;
  height: 50px;
  float: right;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
}